:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
  --light-grey: #9ba0a3;
}

html, body {
    margin: 0;
    padding: 0;
}

body,
.container {
    display: flex;
    justify-content: center;
    align-items: center
}

body {
    background-color: var(--light-grey);
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Rubik Beastly', cursive;
    font-size: 2rem;
}

.container {
    background: var(--snow);
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    min-width: 550px;
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-size: 45px;
    font-family: 'Rubik Beastly', cursive;
    color: var(--bright-red);
    background-image: url(./img/halloween.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#greeting {
    margin-top: -0.5em;
    margin-bottom: 5.5em;
}

button {
    padding: 1em 2em;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bright-red);
    color: var(--snow);
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    background-color: var(--wine-red);
}

.christmas {
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Gwendolyn', cursive;
    font-weight: bold;
    font-size: 3rem;
}

